@keyframes nav-open {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes nav-close {
    0% {
        transform: translateX(0);
    }

    100% {

        transform: translateX(-100%);
    }
}

.header__container {
    display: flex;
    align-items: center;
    padding: 22px 0 21px;

}



.header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__burger {
    display: none;
    border: none;
    background-color: transparent;
}

.header__burger-inner,
.header__burger::before,
.header__burger::after {

    width: 20px;
    height: 4px;
    background-color: $orange;
    display: block;
    margin-bottom: 3px;
    content: '';
}

.header__burger::after {
    margin-bottom: 0;
}

.header__burger--opened .header__burger-inner {
    display: none;
}

.header__burger--opened {
    position: relative;
}

.header__burger--opened::after,
.header__burger--opened::before {
    position: absolute;
    top: 50%;
    left: 50%;
}

.header__burger--opened::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.header__burger--opened::before {
    margin-bottom: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: $tablet) {

    .header__container {
        max-width: 719px;
    }

}

@media screen and (max-width: $mobile) {

    .header__logo {
        position: relative;
        margin-right: 0;
        margin-left: 98px;
        z-index: 1;
    }

    .header {
        position: relative;

    }

    .header__burger {
        display: block;
        position: relative;
    }


    .header__container {
        text-align: left;
        padding: 22px 149px 22px 32px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: $white;
        }
    }

    .header__nav {
        display: none;
        position: absolute;
        background-color: #333A44;
        left: 0;
        right: 119px;
        top: 100%;
        height: 100vh;
        flex-direction: column;
        padding-bottom: 24px;
        padding-top: 64px;
        padding-left: 32px;
        padding-right: 32px;
        align-items: stretch;

    }

    .header__nav--open {
        display: flex;
        animation: nav-open .2s linear;
        z-index: 2;
    }

    .header__nav--closing {
        animation: nav-close .2s linear;
        z-index: 2;
    }

    .header__list {
        flex-direction: column;
        align-items: stretch;

    }

    .header__burger {
        display: block;
    }

    .header__item {
        margin-right: 0;
        margin-bottom: 24px;
        font-size: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .header__get-link {
        max-width: 192px;
    }

}